[Unit]
Description=A simple java spring app that makes website on port "{{ app_port }}"
Requires=network.target

[Service]
Type=exec
Environment=PORT="{{ app_port }}"
ExecStart=java -jar /opt/sample/service.jar
RestartSec=10s
Restart=on-failure

[Install]
WantedBy=multi-user.target
